<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <pipelines>
      <initialize>
        <processor type="Sitecore.Pipelines.Loader.ShowVersion, Sitecore.Kernel">
          <assemblies>
            <assembly id="466806">/bin/Sitecore.Support.466806.dll</assembly>
          </assemblies>
        </processor>
      </initialize>
      <postSessionEnd>
        <processor type="Sitecore.Support.SecurityDisabling, Sitecore.Support.466806" patch:before="*[1]"/>
        <processor type="Sitecore.Support.SecurityRestoring, Sitecore.Support.466806" runIfAborted="true" />
      </postSessionEnd>
    </pipelines>
  </sitecore>
</configuration>